<h1>Pendant Publishing</h1>
<%= link_to 'Articles', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
<div id="article-list">
</div>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
    </tr>
  <% end %>
</table>